@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "Montserrat-Italic";
	src: url("../fonts/Montserrat-Italic.ttf");
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
	font-family: "Montserrat-Thin";
	src: url("../fonts/Montserrat-Thin.ttf");
}