@media screen and (max-width: 600px) {
    .navbar-container{
        .nav-content{
            display: none;
        }
        #menu-hamburger{
        display: inline-block;
        justify-self: end;
        }
    }
}
@media screen and (max-width: 425px) {

}
@media screen and (max-width: 320px) {
    .navbar-container #menu-hamburger .dropdown-content a {
        padding: 8px;
    }

}