@import "home";
@import "footer";
@import "navbar";
@import "fonts";
@import "consulting";
@import "training";
@import "cloud";
@import "joinus";
@import "sucess";

*{
    margin: 0;
    font-family:'Montserrat-Regular';
}
.picto{width: 30px;}
a{
    text-decoration: none;
    color:#707070;
}

h3{
    font-size: 35px;
    text-align: center;
    font-family: 'Montserrat-Bold';
    padding: 30px;
}